.sight {

    .text-area {
        margin-bottom: 50px;
    }

    .toolbar-edit {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
    }

    .slider {
        margin-bottom: 50px;
    }
}