.student-list {
    margin-top: 50px;
}

.edit-student {
    cursor: pointer;
}

.remove-student {
    color: #ff0000;
    cursor: pointer;
    padding-left: 10px;
}

.student-avatar {
    margin: 5px 0;
}