.register-student {
    // background: #f7f7f7;
    // border-radius: 10px;
    // -moz-border-radius: 10px;
	// -webkit-border-radius: 10px;
	// box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

    .register-student-form {
        min-height: 400px;
    }

    .stepper-pagination {
        padding: 50px 0;
    }
}