.slick-next:before, .slick-prev:before {
    color: dimgray;
}

.slider-border {
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5px;
    right: 35px;
    left: 0px;
    background: white;
    z-index: 10;
}

.modal-body .item-modal {
    img, video {
        max-width: 100%;
        margin: auto;
    }
}